<a href="https://colab.research.google.com/github/deepak-dewani/Python-for-everybody/blob/main/Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Chapter - Python For Everybody**
# **Strings**
**A string is a sequence**

A string is a sequence of characters. You can access the characters one at a time with the bracket operator:

In [ ]:
Car = "Toyota"

letter = Car[0]
print(letter)

T

**Note that: Here in the python, the index always starts from 0. In other words, in order to have the first varaible from the string, we need to call 0th element from the given string.**

**Getting the length of a string using len**
len is a built-in function that returns the number of characters in a string:

In [ ]:
len(Car)

6

**Traversal through a string with a loop**

A lot of computations involve processing a string one character at a time. Often they start at the beginning, select each character in turn, do something to it, and continue until the end. This pattern of processing is called a traversal.

In [ ]:
car = "Toyota"
n = 0
while n < len(car):
  y = car[n]
  print(n, y)
  n = n + 1

0 T
1 o
2 y
3 o
4 t
5 a

**Another way to write a traversal is with a for loop:**

In [ ]:
car = "toyota"
for i in car:
  print(i)

t
o
y
o
t
a

# **String slicing**

A segment of a string is called a slice. Selecting a slice is similar to selecting a character:

In [ ]:
name = "deepak dewani"
print(name[0:])
print(name[0:1])
print(name[0:4])
print(name[3:])
print(name[7:50])
print(name[::-1])

deepak dewani
d
deep
pak dewani
dewani
inawed kapeed

# **Strings are immutable**

**Mutuable** means to change

In [ ]:
a = "Hello"
a[0]= "k"

TypeError: ignored

# **Looping and counting**

In [ ]:
car = "toyota"
n = 0
for i in car:
  if i == "t":
    n = n+ 1
print("T in Toyota are:" , n)

T in Toyota are: 2

# **Various methods in strings**

We can check out the various methods that we can use in string, with the help of dir() function call.

In [ ]:
name = "Deepak Dewani"
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [1]:
name = "Deepak Dewani"

print(name.lower())
print(name.upper())
print(name.capitalize())
print(name.isalnum())
print(name.find("p"))
print(name.find("t"))
print(name.replace("Deepak","deepak"))
print(name.replace("e","p"))
print(name.startswith("e"), "\n")

deepak dewani
DEEPAK DEWANI
Deepak dewani
False
3
-1
deepak Dewani
Dpppak Dpwani
False