<a href="https://colab.research.google.com/github/deepak-dewani/Python-for-everybody/blob/main/Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Chapter - Python for Everybody**

# **Lists**

**A list is a sequence**

Like a string, a list is a sequence of values. In a string, the values are characters; in a list, they can be any type. The values in list are called elements or sometimes items.

In [ ]:
emty_list = []
print(emty_list)

[]

In [ ]:
z = [1,9,5,8,6,5]
print(z)

[1, 9, 5, 8, 6, 5]

# **Lists are mutable**

We can change the element inside the list.

In [ ]:
z = [1,9,5,8,6,5]
print(z)

z[0] = 2
print(z)

[1, 9, 5, 8, 6, 5]
[2, 9, 5, 8, 6, 5]

**Traversing a list**

In [ ]:
for i in [1,9,5,8,6,5]:
  print(i)

1
9
5
8
6
5

**List operations**

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6]

In [ ]:
z = [1,9,5,8,6,5]
y = [2,6,4,5,8,9,]

x = z + y
print(x)

[1, 9, 5, 8, 6, 5, 2, 6, 4, 5, 8, 9]

**List slices**

In [ ]:
z = [1,9,5,8,6,5]
print(z[0])
print(z[3])
print(z[5] + z[3])
print(len(z))
print(max(z))
print(min(z))
print(sum(z))
print(sum(z)/len(z))

1
8
13
6
9
1
34
5.666666666666667

**List methods**

In [ ]:
z = [1,9,5,8,6]
print(z)
z.append(5)
print(z)
z.append(8)
print(z)
z.sort()
z.remove(z[5])
print(z)

[1, 9, 5, 8, 6]
[1, 9, 5, 8, 6, 5]
[1, 9, 5, 8, 6, 5, 8]
[1, 5, 5, 6, 8, 9]

**Use of Split Function**

In [ ]:
r = "Welcome to bootcamp"
r = r.split(" ")
print(r)

for i in r:
  print(i)

['Welcome', 'to', 'bootcamp']
Welcome
to
bootcamp