<a href="https://colab.research.google.com/github/deepak-dewani/Python-for-everybody/blob/main/Iteration_and_Looping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Chapter - Python for Everybody**

# **Iteration**

With the help of looping concept, we can go and iterate the variable, to get the output. The two basic loops which are used:

*   while loop(Infinite Loop)
*   for Loop(Definite Loop)

# **The while statement**

Computers are often used to automate repetitive tasks. Repeating identical or similar tasks without making errors is something that computers do well and people do poorly. Because iteration is so common, Python provides several language features to make it easier.

One form of iteration in Python is the while statement. Here is a simple program that counts down from five and then says “Blastoff!”.

In [ ]:
x = int(input("Enter the number: "))
while x > 0:
  print(x)
  x = x - 1
print("Endpoint!!")

Enter the number: 5
5
4
3
2
1
Endpoint!!

While Loop is called Repeative or infinite loop, because the while loop check for the every true value, once it gets false value, the loops stops iterartion and comes out of the loop, same as above when the number x is reached to 0 value the statement becomes wrong/false so it come out of the loop and print "Endpoint".

# **The FOR Statement**

Sometimes we want to loop through a set of things such as a list of words, the lines in a file, or a list of numbers. When we have a list of things to loop through, we can construct a definite loop using a for statement. We call the while statement an indefinite loop because it simply loops until some condition becomes False, whereas the for loop is looping through a known set of items so it runs through as many iterations as there are items in the set.

The syntax of a for loop is similar to the while loop in that there is a for statement and a loop body:

In [ ]:
for i in (5,4,3,2,1):
  print(i)

5
4
3
2
1

**With the range function**

In [ ]:
for i in range(0,6):
  print(i)

0
1
2
3
4
5

**Iterating through the list**

In [ ]:
x = ["Deepak", "Sally", "Kunal"]


for i in x:
  print("Welcome to konverge Bootcamp: ", i)

Welcome to konverge Bootcamp:  Deepak
Welcome to konverge Bootcamp:  Sally
Welcome to konverge Bootcamp:  Kunal

**Counting of number**

In [ ]:
num = 0
print("Before: ", num)
for i in [1,5,6,8,9,15,45,50]:
  num = num + 1
print(num,"-->", i)

print("After: ", num)

Before:  0
8 --> 50
After:  8

**Average of a number**

In [ ]:
x = 0
y = 0
print("Before :", x, y)
for z in [10,98,55,66,85,41,21,5]:
  x = x + 1
  y = y + z
  print(x,"-->",y,z)
print("after: ", x,y ,(y/x))

Before : 0 0
1 --> 10 10
2 --> 108 98
3 --> 163 55
4 --> 229 66
5 --> 314 85
6 --> 355 41
7 --> 376 21
8 --> 381 5
after:  8 381 47.625

**Filtering out the given range**

In [ ]:
for i in range(0,20):
  if i > 15:
    print(i)

16
17
18
19

**Compairing within range**

In [ ]:
for i in range(0,6):
  if i >= 3:
    print(i, "true")

3 true
4 true
5 true